<section
  class="breadcrumb-bg pt-200 pb-180 mb-5"
  data-background="/assets/img/page/page-bg.jpg"
  style="height: 250px"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-md-9">
        <div class="page-title">
          <p class="small-text pb-15">We are here for your care.</p>
          <h1>Blogs</h1>
        </div>
      </div>
      <div
        class="col-lg-3 col-md-3 d-flex justify-content-start justify-content-md-end align-items-center"
      >
        <div class="page-breadcumb">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="index.html">Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">Blogs</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
