<div class="row mt-5">
  <div class="col-xl-4 col-lg-4 col-md-6">
    <div class="team-box text-center mb-60">
      <div class="team-thumb mb-45 pos-rel">
        <img src="/assets/img/team/doctor1.jpg" alt="" />
        <a class="team-link" href="doctor-details.html">+</a>
      </div>
      <div class="team-content">
        <h3>Rosalina D. Williamson</h3>
        <h6>Founder</h6>
        <a href="doctor-details">Read more...</a>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-4 col-md-6">
    <div class="team-box text-center mb-60">
      <div class="team-thumb mb-45 pos-rel">
        <img src="/assets/img/team/doctor2.jpg" alt="" />

        <a class="team-link" href="doctor-details.html">+</a>
      </div>
      <div class="team-content">
        <h3>Diconda PIran Will</h3>
        <h6>dentist</h6>
        <a href="doctor-details">Read more...</a>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-4 col-md-6">
    <div class="team-box text-center mb-60">
      <div class="team-thumb mb-45 pos-rel">
        <img src="/assets/img/team/doctor3.jpg" alt="" />
        <a class="team-link" href="doctor-details.html">+</a>
      </div>
      <div class="team-content">
        <h3>Hulk M. Kenbon</h3>
        <h6>neurologist</h6>
        <a href="doctor-details">Read more...</a>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-4 col-md-6">
    <div class="team-box text-center mb-60">
      <div class="team-thumb mb-45 pos-rel">
        <img src="/assets/img/team/doctor3.jpg" alt="" />

        <a class="team-link" href="doctor-details.html">+</a>
      </div>
      <div class="team-content">
        <h3>Haliam Z. Dicolaz</h3>
        <h6>Consultant</h6>
        <a href="doctor-details">Read more...</a>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-4 col-md-6">
    <div class="team-box text-center mb-60">
      <div class="team-thumb mb-45 pos-rel">
        <img src="/assets/img/team/doctor1.jpg" alt="" />

        <a class="team-link" href="doctor-details.html">+</a>
      </div>
      <div class="team-content">
        <h3>Nicolas D. Case</h3>
        <h6>dentist</h6>
        <a href="doctor-details">Read more...</a>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-4 col-md-6">
    <div class="team-box text-center mb-60">
      <div class="team-thumb mb-45 pos-rel">
        <img src="/assets/img/team/doctor3.jpg" alt="" />
        <a class="team-link" href="doctor-details.html">+</a>
      </div>
      <div class="team-content">
        <h3>Phumdon H. Norman</h3>
        <h6>neurologist</h6>
        <a href="doctor-details">Read more...</a>
      </div>
    </div>
  </div>
</div>
