<section class="vs-service-wrapper space-top space-md-bottom mt-5">
  <div class="container mt-5" data-aos="fade-up" data-aos-duration="2000">
    <div class="row mt-5">
      <div class="col-md-6 col-xl-4">
        <div class="service-thumb">
          <div class="sr-img">
            <img
              class="w-100"
              height="350px"
              src="/assets/img/new/find/find.png"
              alt="Serivce Image"
            />
          </div>
          <div class="sr-body card">
            <span class="sr-icon"><i class="fa-solid fa-user-doctor"></i></span>
            <h3 class="h4 sr-title">
              <a class="text-reset stretched-link" href="/find-doctor-page"
                >Find a doctor</a
              >
            </h3>
            <div class="sr-content">
              <p class="sr-text">Choose by name, specialty and more.</p>
              <a href="/find-doctor-page" class="link-btn"
                >Read More<i
                  class="fa-solid fa-arrow-right"
                  style="margin-left: 5px"
                ></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-4">
        <div class="service-thumb">
          <div class="sr-img">
            <img
              class="w-100"
              height="350px"
              src="/assets/img/new/find/choose.jpg"
              alt="Serivce Image"
            />
          </div>
          <div class="sr-body card">
            <span class="sr-icon"><i class="fa-solid fa-envelope"></i></span>
            <h3 class="h4 sr-title">
              <a class="text-reset stretched-link" href="contact"
                >Send an Enquiry</a
              >
            </h3>
            <div class="sr-content">
              <p class="sr-text">Choose by name, specialty and more.</p>
              <a href="contact" class="link-btn"
                >Read More<i
                  class="fa-solid fa-arrow-right"
                  style="margin-left: 5px"
                ></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-4">
        <div class="service-thumb">
          <div class="sr-img">
            <img
              class="w-100"
              height="350px"
              src="/assets/img/new/appointment.jpg"
              alt="Serivce Image"
            />
          </div>
          <div class="sr-body">
            <span class="sr-icon"
              ><i class="fa-solid fa-calendar-check"></i
            ></span>
            <h3 class="h4 sr-title">
              <a
                class="text-reset stretched-link"
                href="https://tele.danphecare.com/#/
"
                >Book Appointment</a
              >
            </h3>
            <div class="sr-content">
              <p class="sr-text">Choose by name, specialty and more.</p>
              <a
                href="https://tele.danphecare.com/#/"
                target="_blank"
                class="link-btn"
                >Read More<i
                  class="fa-solid fa-arrow-right"
                  style="margin-left: 5px"
                ></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
