{% extends '/backend/base.djhtml' %}

{% block container %}
<form id="wtf"  enctype="multipart/form-data">
	<div class="row bg-light border rounded mb-4">
		<div class="col-md-8 col-xs-12 p-4">
			<div class="row mb-3">
				<label for="deptname" class="col-sm-2 col-form-label col-form-label-sm">Notice Title:</label>
				<div class="col-sm-9">
					<input type="text" class="form-control form-control-sm" name="title" id="deptname"
					value="{{ obj.title }}" required>
				</div>
			</div>
            <div class="row mb-3">
				<label for="deptname" class="col-sm-2 col-form-label col-form-label-sm">Notice Description:</label>
				<div class="col-sm-9">
					<input type="text" class="form-control form-control-sm" name="description" id="deptname"
					value="{{ obj.description }}" required>
				</div>
			</div>
		</div>

	</div>

	<div class="row pb-4">
		<div class="col-12">
			<button class="btn btn-primary mt-4" type="button" onclick="formSubmit()">
				Submit
			</button>
		</div>
	</div>
</form>

<script>
	function formSubmit() {
		let ewtf = document.getElementById('wtf')

		fetch(`/api/notice/add`, {
			method: 'POST',
			body: new FormData(ewtf)
		}).then(function (response) {
			alert('New Notice Submitted')
			window.location.href = '/notice/dash'
		})
	}

	function formDelete(_id) {
		if (confirm("Do you want to delete this Notice?") == true) {

			fetch(`/api/dept/delete/${_id}`, {
				method: 'DELETE'
			}).then(function (response) {
				alert('Notice Deleted')
				window.location.href = '/notice/dash'
			})
		}
	}
</script>
{% endblock %}