<main>
  <!-- hero-area start -->

  <!-- hero-area end -->
  <!-- about-area start -->
  <div class="container" id="about1">
    <div class="row">
      <p>
        Welcome to National City Hospital, a visionary endeavor that was
        established as a community-initiated public limited company, driven by
        the passionate business community and dedicated medical practitioners of
        Chitwan district. Our primary commitment is to ensure the delivery of
        top-notch, affordable healthcare to those in need. With a robust
        community of over 200 shareholders, we stand united in our unwavering
        pursuit of providing high-quality, accessible medical services.
      </p>
      <p>
        Our journey spans a commendable 15-year history in the healthcare realm,
        during which we have consistently extended trustworthy care to our
        patients. Strategically located on Hospital Road in Bharatpur, our
        institution stands as a testament to our dedication, occupying a
        sprawling 70,000+ square feet across six stories of our self-owned
        building, complete with underground parking facilities as well as green
        premises.
      </p>
      <p>
        Our range of services encompasses general care, extends to emergency
        interventions, and delve into the specialized domains of
        Gastroenterology, Urology, General Surgery, Orthopaedics, Obstetrics and
        gynaecology, Medical oncology, ENT,Head & neck oncology, Radiology,
        Modern lab, Histopathogy etc . Within our state-of-the-art
        infrastructure, we proudly offer 100 inpatient beds, a 12-bed Intensive
        Care Unit (ICU), a 6-bed Neonatal Intensive Care Unit (NICU), four
        modular operation theaters, a 12-bed Postoperative Ward, and a 10-bed
        Emergency Ward, all fortified by our skilled and specialized staff.
      </p>
      <p>
        Beyond our clinical efforts, we are deeply committed to community
        welfare. Our engagement with health camps and the provision of screening
        services underscores our dedication to promoting holistic well-being.
        Additionally, our commitment to fostering healthcare professionals is
        embodied by our ancillary institution, Shree Medical and Technical
        College.
      </p>
      <p>
        At National City Hospital, we stand as a beacon of comprehensive
        healthcare, driven by our shared mission to make quality medical
        services accessible to all. Join us in our journey as we continue to set
        new standards in healthcare excellence.
      </p>
    </div>
  </div>
  <section class="about-area pt-120 pb-90">
    <div class="container">
      <div class="row">
        <div class="col-xl-5 col-lg-5">
          <div class="about-left-side pos-rel mb-30">
            <div class="about-front-img pos-rel" style="margin-top: 8rem">
              <!-- <img src="/assets/img/about-img.jpg" alt="" /> -->
              <img src="/assets/img/about/about-img.jpg" alt="" />

              <!-- <a
                class="popup-video about-video-btn white-video-btn"
                href="https://www.youtube.com/watch?v=I3u3lFA9GX4"
                ><i class="fas fa-play"></i
              ></a> -->
            </div>
            <div class="about-shape">
              <img src="/assets/img/about/about-shape.png" alt="" />
            </div>
          </div>
        </div>
        <div class="col-xl-7 col-lg-7" id="about2">
          <div class="about-right-side pt-55 mb-30">
            <div class="about-title mb-20">
              <h1>Message from Chairman.</h1>
            </div>
            <div class="about-text mb-50">
              <p></p>
              <p>
                Welcome to National City Hospital, a distinguished tertiary care
                general hospital dedicated to delivering affordable and superior
                healthcare services to the community. Our journey commenced in
                2065, when an enthusiastic coalition of business leaders and
                medical practitioners from the Chitwan district established this
                venture as a public limited company.
              </p>
              <p>
                From its inception to the present, our path has seen its share
                of challenges and successes in the realm of business
                transactions. Despite this, our unwavering motto remains
                unrelenting, propelling us towards steadfast growth. Our
                commitment to excellence is evident in our ownership of a fully
                equipped hospital facility, meticulously crafted to meet all
                government standards. Boasting an opulent infrastructure, we
                offer an expansive 100-bed capacity, inclusive of a 12-bed
                Intensive Care Unit (ICU), a 12-bed Post Operative Ward (POW), a
                6-bed Neonatal Intensive Care Unit (NICU), a 5-bed Dialysis
                Center, and four modular operation rooms. Our medical arsenal
                further includes a 160-slice CT scanner and a comprehensive
                Beckman Coulter laboratory setup.
                <br />
              </p>
              <p>
                Beyond the confines of our walls, our engagement with the
                community is integral. We actively partake in various health
                programs, conduct awareness campaigns, and administer wellness
                clinics, all contributing to our holistic approach to
                healthcare. Looking ahead, we envision introducing a health
                service to home facility, revolutionizing home-based care
                through services like dressing, physiotherapy, and immunization.
                <br />
              </p>

              <p></p>
              <p>
                At National City Hospital, our pursuit of excellence knows no
                bounds. We invite you to join us in our journey of delivering
                uncompromised, accessible healthcare with compassion and
                dedication.
                <br />
              </p>

              <p></p>

              <p>
                - Mr Prachand Lal Pradhan
                <br />
                - Chairman, National City Hospital Ltd.
              </p>

              <p></p>
            </div>
            <div class="our-destination">
              <div class="single-item mb-30">
                <div class="mv-icon f-left">
                  <img src="/assets/img/about/destination-icon-1.png" alt="" />
                </div>
                <div class="mv-title fix">
                  <h3>Our Mission</h3>
                  <p>
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                    irure dolor in reprehenderit in voluptate velit esse.
                  </p>
                </div>
              </div>
              <div class="single-item">
                <div class="mv-icon f-left">
                  <img src="/assets/img/about/destination-icon-2.png" alt="" />
                </div>
                <div class="mv-title fix">
                  <h3>Our Vission</h3>
                  <p>
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                    irure dolor in reprehenderit in voluptate velit esse.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- about-area end -->
  <!-- Counter Section Satrt -->
  <section class="counter-wraper pt-120 pb-90 gray-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="single-couter mb-30">
            <img src="/assets/img/counter/counter-icon-1.png" alt="" />
            <div class="counter-text-box">
              <h1><span class="counter">358</span>+</h1>
              <h3>Worldwide Branches</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisi cing elit, sed
                do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single-couter mb-30">
            <img src="/assets/img/counter/counter-icon-2.png" alt="" />
            <div class="counter-text-box">
              <h1><span class="counter">358</span>+</h1>
              <h3>Hospital Formed</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisi cing elit, sed
                do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single-couter mb-30">
            <img src="/assets/img/counter/counter-icon-3.png" alt="" />
            <div class="counter-text-box">
              <h1><span class="counter">238</span>+</h1>
              <h3>Local Partners</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisi cing elit, sed
                do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Counter Section end -->
  <!-- appoinment Section end -->
  <section
    class="appoinment-section pt-120 pb-120"
    data-background="img/bg/appointment.jpg"
  >
    <div class="container" id="about3">
      <div class="row">
        <div class="col-lg-8">
          <div class="appoinment-box white">
            <div class="appoinment-content">
              <span class="small-text">Our Approch</span>
              <h1>Message from Managing director.</h1>
              <p>
                National City Hospital stands as a premier tertiary care general
                facility, boasting a comprehensive capacity for medical care.
                Nestled within the heart of Bharatpur municipality in Nepal's
                Chitwan district, we extend our services to patients hailing
                from all corners of the nation. Our establishment operates
                round-the-clock emergency services, houses 100 inpatient beds, a
                12-bed Intensive Care Unit (ICU), four state-of-the-art modular
                operation theaters, a Neonatal Intensive Care Unit (NICU), and
                oncology day care services.
              </p>
              <p>
                Our adept care team comprises experts across various
                specialties, collaboratively providing comprehensive patient
                care through multidisciplinary team discussions, particularly in
                complex cases. This approach ensures a seamless flow of patient
                care. Our ethos extends beyond doctors, embracing robust team
                dynamics. Our allied health personnel, staff nurses, and
                auxiliary health workers are all trained meticulously in their
                respective domains, facilitating the delivery of expert
                services.
              </p>
              <p>
                Our commitment to delivering medical information and care with
                exceptional finesse is unwavering. This dedication is
                underscored by our investment in electronic medical records and
                patient care data management systems. This integration allows us
                to maintain a comprehensive patient history and analyze our
                practices for continuous enhancement. To remain attuned to the
                modern generation, we've actively engaged in social media
                outreach, fostering interactivity and accessibility. Lab reports
                and investigation findings are conveniently accessible online,
                and web-based appointments streamline the process.
              </p>
              <p>
                In conclusion, our pledge is to provide unparalleled quality and
                affordable medical care through evidence-based practices,
                ensuring optimal well-being for our valued patients.
              </p>
              <!-- <ul class="professinals-list pt-30">
                <li>
                  <i class="fa fa-check"></i>
                  Ut enim ad minim veniam, quis nostrud exercit.
                </li>
                <li>
                  <i class="fa fa-check"></i>
                  Ut enim ad minim veniam, quis nostrud exercit.
                </li>
                <li>
                  <i class="fa fa-check"></i>
                  Ut enim ad minim veniam, quis nostrud exercit.
                </li>
                <li>
                  <i class="fa fa-check"></i>
                  Ut enim ad minim veniam, quis nostrud exercit.
                </li>
              </ul> -->
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <img
            src="/assets/img/about/about-img.jpg"
            alt=""
            style="margin-top: 10rem"
          />
        </div>
      </div>
    </div>
  </section>
  <!-- appoinment Section End -->
  <!-- board of Director team-area start -->
  <section class="team-area pb-55">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-7 col-md-10">
          <div class="section-title pos-rel mb-75">
            <div class="section-icon">
              <img
                class="section-back-icon back-icon-left"
                src="assets/img/section/section-back-icon.png"
                alt=""
              />
            </div>
            <div class="section-text pos-rel" id="about4">
            
              <h1>Board of Director</h1>
            </div>
            <div class="section-line pos-rel">
              <img src="/assets/img/shape/section-title-line.png" alt="" />
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-5"></div>
      </div>
      <div id="ajax-bod" class="row">
        <script>
          doad("ajax-bod", "/api/nch/listbod");
        </script>
      </div>
    </div>
  </section>


   <!-- Seniormanagement team-area start -->
   <section class="team-area pb-55">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-7 col-md-10">
          <div class="section-title pos-rel mb-75">
            <div class="section-icon">
              <img
                class="section-back-icon back-icon-left"
                src="assets/img/section/section-back-icon.png"
                alt=""
              />
            </div>
            <div class="section-text pos-rel" id="about5">
            
              <h1>Senior Management</h1>
            </div>
            <div class="section-line pos-rel">
              <img src="/assets/img/shape/section-title-line.png" alt="" />
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-5"></div>
      </div>
      <div id="ajax-senior" class="row">
        <script>
          doad("ajax-senior", "/api/nch/listsenior");
        </script>
      </div>
    </div>
  </section>
</main>
