<section class="services-area services-border pos-rel pt-185 pb-160">
    <span class="h4services-bg">
      <img src="/assets/img/home4/services/services__overlay__bg.png" alt="" />
    </span>
    <div class="container">
      <div class="row">
        <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
          <div class="section-title text-center pos-rel mb-75">
            <div class="section-icon">
              <img
                class="section-back-icon"
                src="/assets/img/section/section-back-icon.png"
                alt=""
              />
            </div>
            <div class="section-text pos-rel">
              <h1>Notices</h1>
            </div>
      
          </div>
        </div>
      </div>
  
      <div id="coes">
        <script>
          doad("coes", "/api/nch/notices");
        </script>
      </div>
    </div>
  </section>
  