<section class="hero-area">
    <div class="hero-slider">
        <div class="slider-active">
            <div class="single-slider slider-height d-flex align-items-center"
                data-background="/assets/fend/img/slider/slider-bg-1.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-8 col-md-10">
                            <div class="hero-text">
                                <div class="hero-slider-caption">
                                    <h5 data-animation="fadeInUp" data-delay=".2s">
                                        We are here for your care.
                                    </h5>
                                    <h1 data-animation="fadeInUp" data-delay=".4s">
                                        Best Care & Better Doctor.
                                    </h1>
                                    <p data-animation="fadeInUp" data-delay=".6s">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing
                                        elit, sed do eiusmod tempor incididunt ut labore et
                                        dolore magna aliqua.
                                    </p>
                                </div>
                                <div class="hero-slider-btn">
                                    <a data-animation="fadeInLeft" data-delay=".6s" href="appoinment.html"
                                        class="btn btn-icon ml-0"><span>+</span>Make Appointment</a>
                                    <a data-animation="fadeInRight" data-delay="1.0s"
                                        href="https://www.youtube.com/watch?v=eXQgPCsd83c"
                                        class="play-btn popup-video"><i class="fas fa-play"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-slider slider-height d-flex align-items-center"
                data-background="/assets/fend/img/slider/slider-bg-2in1.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-8 col-md-10">
                            <div class="hero-text">
                                <div class="hero-slider-caption">
                                    <h5 data-animation="fadeInUp" data-delay=".2s">
                                        We are here for your care.
                                    </h5>
                                    <h1 data-animation="fadeInUp" data-delay=".4s">
                                        Best Care & Better Doctor.
                                    </h1>
                                    <p data-animation="fadeInUp" data-delay=".6s">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing
                                        elit, sed do eiusmod tempor incididunt ut labore et
                                        dolore magna aliqua.
                                    </p>
                                </div>
                                <div class="hero-slider-btn">
                                    <a data-animation="fadeInLeft" data-delay=".6s" href="appoinment.html"
                                        class="btn btn-icon ml-0"><span>+</span>Make Appointment</a>
                                    <a data-animation="fadeInRight" data-delay="1.0s"
                                        href="https://www.youtube.com/watch?v=eXQgPCsd83c"
                                        class="play-btn popup-video"><i class="fas fa-play"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>