<header>
  <div class="top-bar d-none d-md-block">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div
          class="col-xl-6 offset-xl-1 col-lg-6 offset-lg-1 col-md-7 offset-md-1"
        >
          <div class="header-info">
            <span><i class="fas fa-phone"></i> +1 800 833 9780</span>
            <span><i class="fas fa-envelope"></i> info@example.com</span>
          </div>
        </div>
        <div class="col-xl-5 col-lg-5 col-md-4">
          <div class="header-top-right-btn f-right">
            <a href="find-doctor.html" class="btn"> Find A Doctor</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- menu-area -->
  <div class="header-menu-area">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-5 d-flex align-items-center">
          <div class="logo logo-circle pos-rel">
            <a href="/index.html"
              ><img
                src="/assets/fend/img/new/logo.png"
                alt=""
                width="100px"
                height="90px"
            /></a>
          </div>
        </div>
        <div class="col-xl-9 col-lg-9 col-md-9">
          <div class="header-right f-right">
            <div class="header-social-icons f-right d-none d-xl-block">
              <ul>
                <li>
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                </li>

                <li>
                  <a href="#"><i class="fab fa-youtube"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-linkedin"></i></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="header__menu f-right">
            <nav id="mobile-menu">
              <ul>
                <li>
                  <a href="index.html">Appoinments</a>
                  <!-- <ul class="submenu">
                      <li><a href="index.html">Home style 1</a></li>
                      <li><a href="index-2.html">Home style 2</a></li>
                      <li><a href="index-3.html">Home style 3</a></li>
                      <li><a href="index-4.html">Home style 4</a></li>
                      <li><a href="index-5.html">Home style 5</a></li>
                    </ul> -->
                </li>
                <li>
                  <a href="services.html">Departments</a>
                  <!-- <ul class="submenu">
                      <li><a href="services.html">Services 01</a></li>
                      <li><a href="services-2.html">Services 02</a></li>
                      <li>
                        <a href="services-details.html">Services Details</a>
                      </li>
                    </ul> -->
                </li>
                <li>
                  <a href="services.html">Academics</a>
                </li>

                <li>
                  <a href="contact.html">Contacts</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="col-12">
          <div class="mobile-menu"></div>
        </div>
      </div>
    </div>
  </div>
</header>
