<div class="container" data-aos="fade-up" data-aos-duration="3000">
  <div class="row">
    <div class="col-xl-10 offset-xl-1 col-md-12">
      <div class="cta-text text-center">
        <div class="section-title pos-rel mb-50">
          <div class="section-text section-text-white pos-rel">
            <h5>Get your custom offer with discussion to our team</h5>
            <h1 class="white-color">
              Let’s discuss. If you have any question in mind?
            </h1>
          </div>
        </div>
        <div class="section-button section-button-left">
          <a
            data-animation="fadeInLeft"
            data-delay=".6s"
            href="contact"
            class="btn btn-icon btn-icon-green ml-0"
            ><span>+</span>Lets start to discuss</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
