<section class="pricing-area gray-bg pt-115 pb-90">
  <div class="container" id="packages1">
    <div class="row">
      <div class="col-xl-5 col-lg-6 col-md-12">
        <div class="section-title pos-rel mb-75">
          <div class="section-icon" >
            <img
              class="section-back-icon back-icon-left"
              src="/assets/img/section/section-back-icon.png"
              alt=""
            />
          </div>
          <div class="section-text pos-rel">
            <h1>Recommended Packages</h1>
          </div>
          <div class="section-line pos-rel">
            <img src="/assets/img/shape/section-title-line.png" alt="" />
          </div>
        </div>
      </div>
      <div class="col-xl-7 col-lg-6 col-md-12">
        <div class="pricing-menu f-right">
          <ul class="nav nav-pills" id="pills-tab" role="tablist">
            <li class="nav-item">
              <a
                class="nav-link active"
                id="pills-home-tab"
                data-toggle="pill"
                href="#pills-home"
                role="tab"
                aria-controls="pills-home"
                aria-selected="true"
                >Most Poupular</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                id="pills-profile-tab"
                data-toggle="pill"
                href="#pills-profile"
                role="tab"
                aria-controls="pills-profile"
                aria-selected="false"
                >Best Plan</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12">
        <div class="tab-content" id="pills-tabContent">
          <div
            class="tab-pane fade show active"
            id="pills-home"
            role="tabpanel"
            aria-labelledby="pills-home-tab"
          >
            <div
              class="row"
              data-aos="fade-right"
              data-aos-offset="300"
              data-aos-easing="ease-in-sine"
            >
              <div id='pricing' class="row" data-aos="fade-right"
               data-aos-offset="300"
                 data-aos-easing="ease-in-sine">
                <script>
                  doad('pricing', '/api/nch/prices.popular')
                </script>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="pills-profile"
            role="tabpanel"
            aria-labelledby="pills-profile-tab"
          >
            <div id="best-plan" class="row">
              <script>
                doad('best-plan', '/api/nch/prices.plan')
              </script>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
