<!-- <div
  class="testimonials pt-150 pb-80"
  data-background="/assets/img/new/banner_2.jpg"
  style="background-repeat: no-repeat; height: 1000px"
>
  <div class="container">
    <div class="row">
      <div class="col-xl-7 offset-xl-5 h4testi-col">
        <div
          class="row"
          data-aos="fade-right"
          data-aos-offset="200"
          data-aos-easing="ease-in-sine"
        >
          <div id="testimonials">
            <script>
              doad("testimonials", "/api/testimonials/list");
            </script>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div>
  <div class="testimonials-area pt-115 pb-120" id="testimonial">
    <div class="container">
      <div class="row">
        <div
          class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 col-md-10 offset-md-1"
        >
          <div class="section-title text-center pos-rel mb-40">
            <div class="section-icon">
              <img
                class="section-back-icon"
                src="img/section/section-back-icon.png"
                alt=""
              />
            </div>
            <div class="section-text pos-rel">
              <h5>Testimonials</h5>
              <h1>Our Clients Says About Us</h1>
            </div>
            <div class="section-line pos-rel">
              <img src="/assets/img/shape/section-title-line.png" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div id="testimonials">
        <script>
          doad("testimonials", "/api/testimonials/list");
        </script>
      </div>
    </div>
  </div>
</div>
